// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hiresafe-header{
	color: #333 !important;
}

.car-logo {
	width: 100%;
	margin: auto 0;
}

.car-logo1 {
	width: 100px;
}

.alert {
	position: relative;
	width: 100%;
	z-index: 1000 !important;
}

.gold-color {
	color: #FFD700;
}

.avatar-pic {
width: 150px;
}
